@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Poppins:wght@400;600;700&display=swap'); 
@import "tailwindcss";
body {
  overflow-x: hidden;
}
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-50px); } /* Agora subindo 50px como você definiu */
  100% { transform: translateY(0px); }
}

.animate-float-custom {
  animation: float 3s ease-in-out infinite; 
}